KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key

SNOWFLAKE_ACCOUNT=your_account.region.aws
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=OLIST_DB
SNOWFLAKE_WAREHOUSE=OLIST_WH
SNOWFLAKE_SCHEMA=RAW
SNOWFLAKE_ROLE=ACCOUNTADMIN